.Rproj.user
.Rhistory
.RData
.Ruserdata
stats/permutations/*pseudocode
stats/permutations/heaps_nonrecursive
stats/permutations/heaps_recursive
stats/permutations/heaps_recursive.cpp
stats/permutations/recursive.out
